body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

.userinfo {
  list-style-type: none;
  border: 2px solid lightgrey;
  border-radius: 5px;
}

.userdiv {
  background-color: white;
  border: 2px solid lightgrey;
  border-radius: 5px;
}

b {
  font-weight: bold;
}